<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" ></script>


</head>

<body>
<header>
    <h1>JOBHUB</h1>
</header>

<nav class="navbar navbar-dark bg-dark">
    <img src="/img/logo.png" alt="Logo">
    <a href="/">Home</a>
    <a href="/aboutus">About Us</a>
    <a href="/contactus">Contact Us</a>
    <a href="/upload">Upload a Job</a>
</nav>

<div class="container">
    <div class="search-container">
        <input type="text" class="search-input" id="searchInput" placeholder=" 🔍 Search...">

        <button class="search-button" onclick="handleSearch()">Search</button>
        <br/><br/><span>
                <select id="sortOptions" class="sort-options" onchange="handleSort()">
                    <option value="mostRecent">Most Recent</option>
                    <option value="oldestFirst">Oldest First</option>
                </select>
            </span>
    </div>
    <div class="row job-listings" id="jobCardsContainer">
        <div class="job-cards" th:each="jobPosting : ${jobPostings}">
            <div class="col-md-4 job-card" th:id="${'jobCard_' + jobPosting['Job Title:']}">
                <strong>Title:</strong> <span th:text="${jobPosting['Job Title:']}" class="job-title"></span><br/>
                <strong>Company:</strong> <span th:text="${jobPosting['Company Name:']}" class="job-company"></span><br/>
                <strong>Location:</strong> <span th:text="${jobPosting['Job Location:']}"></span><br/>
                <strong>Posting Date:</strong> <span th:text="${jobPosting['Posting Date:']}"></span><br/>
                <strong>Posting DateTime:</strong> <span th:text="${jobPosting['Posting DateTime:']}"></span><br/>
                <a th:href="${jobPosting['jobUrl']}" class="job-link">Details</a><br/>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; Vinay Kumar Boora. All rights reserved.</p>
</footer>


</body>

</html>
